src/lexer.yy.cpp
src/lexer
src/parser.tab.*
src/parser.output
src/*.o

bin/*
bin/lexer
bin/parser
bin/print_ast
bin/print_ast.*
bin/Resources
bin/Info.plist

.bin.swp
.vscode
.vagrant
.gitignore.save

test.txt
test.s

compiler_tests/*/*_ref*
compiler_tests/*/*.o
compiler_tests/*/*.s
compiler_tests/*/*
compiler_test_results/*
